@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

:root {
  --primary-black: #1e1e1e;
  --primary-white: #ffffff;
  --primary-grey: #2b2b2b;
  --primary-red: #ca3e47;

  --primary-icon: brightness(0) saturate(100%) invert(30%) sepia(34%) saturate(6916%)
    hue-rotate(340deg) brightness(88%) contrast(76%);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul,
ol {
  list-style-type: none;
}
